<ocx-portal-page permission="USER#SEARCH" helpArticleId="PAGE_IAM_USER_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.USER.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.USER.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div id="iam_user_search_criteria" [formGroup]="searchCriteriaForm" class="flex flex-wrap gap-3">
      <ng-container *ngIf="provider$ | async as provider">
        <p-floatlabel variant="on" class="min-w-min w-full w-11rem">
          <p-select
            id="iam_user_search_criteria_provider"
            styleClass="w-full input-field-correction"
            formControlName="provider"
            appendTo="body"
            [options]="provider"
            (onChange)="onChangeProvider($event.value, provider)"
            dataKey="name"
            optionValue="name"
            optionLabel="displayName"
            [autoDisplayFirst]="true"
            [showClear]="true"
            [ariaLabel]="'DIALOG.SEARCH.CRITERIA.PROVIDER' | translate"
            [pTooltip]="'DIALOG.SEARCH.CRITERIA.TOOLTIPS.PROVIDER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-select>
          <label class="ocx-required-label" for="iam_user_search_criteria_provider">
            {{ 'DIALOG.SEARCH.CRITERIA.PROVIDER' | translate }}
          </label>
        </p-floatlabel>
        <p-floatlabel variant="on" class="min-w-min w-full w-8rem">
          <p-select
            id="iam_user_search_criteria_issuer"
            styleClass="w-full input-field-correction"
            formControlName="issuer"
            appendTo="body"
            [options]="domains"
            (onChange)="onChangeDomain()"
            dataKey="name"
            optionValue="issuer"
            optionLabel="displayName"
            [showClear]="true"
            [emptyMessage]="'DIALOG.SEARCH.CRITERIA.NO_PROVIDER' | translate"
            [ariaLabel]="'DIALOG.SEARCH.CRITERIA.DOMAIN' | translate"
            [pTooltip]="'DIALOG.SEARCH.CRITERIA.TOOLTIPS.DOMAIN' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-select>
          <label class="ocx-required-label" for="iam_user_search_criteria_issuer">
            {{ 'DIALOG.SEARCH.CRITERIA.DOMAIN' | translate }}
          </label>
        </p-floatlabel>
      </ng-container>
      <p-floatlabel variant="on">
        <input
          id="iam_user_search_criteria_user_name"
          pInputText
          type="text"
          formControlName="userName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.USERNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.USERNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_user_name">{{ 'USER.USERNAME' | translate }}</label>
      </p-floatlabel>
      <p-floatlabel variant="on" *ocxAdvanced>
        <input
          #userId
          id="iam_user_search_criteria_user_id"
          pInputText
          type="text"
          formControlName="userId"
          class="w-11rem sm:w-21rem text-responsive"
          (change)="searchOnlyById(userId.value)"
          [attr.aria-label]="'USER.ID' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.ID' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_user_id">{{ 'USER.ID' | translate }}</label>
      </p-floatlabel>
      <p-floatlabel variant="on" *ocxAdvanced>
        <input
          id="iam_user_search_criteria_first_name"
          pInputText
          type="text"
          formControlName="firstName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.FIRSTNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.FIRSTNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_first_name">{{ 'USER.FIRSTNAME' | translate }}</label>
      </p-floatlabel>
      <p-floatlabel variant="on" *ocxAdvanced>
        <input
          id="iam_user_search_criteria_last_name"
          pInputText
          type="text"
          formControlName="lastName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.LASTNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.LASTNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_last_name">{{ 'USER.LASTNAME' | translate }}</label>
      </p-floatlabel>
      <p-floatlabel variant="on" *ocxAdvanced>
        <input
          id="iam_user_search_criteria_email"
          pInputText
          type="text"
          formControlName="email"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.EMAIL' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.EMAIL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_email">{{ 'USER.EMAIL' | translate }}</label>
      </p-floatlabel>
    </div>
  </ocx-search-header>

  <ocx-content>
    <p-message
      *ngIf="loading && !exceptionKey"
      id="iam_user_search_loading"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="iam_user_search_error_message"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>
    <p-message
      *ngIf="!loading && !exceptionKey && searchCriteriaForm.invalid"
      id="iam_user_search_hint_select_provider_first"
      severity="info"
      styleClass="m-3"
      [text]="'DIALOG.SEARCH.CRITERIA.SELECT_ISSUER_FIRST' | translate"
    ></p-message>
    <ocx-interactive-data-view
      *ngIf="users$ | async as users"
      id="iam_user_search_dataview"
      [data]="$any(users)"
      [layout]="viewMode"
      [supportedViewLayouts]="['grid', 'list']"
      [columns]="sortColumns"
      [displayedColumnKeys]="sortColumnKeys"
      [emptyResultsMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      [disableFilterView]="true"
      [clientSideSorting]="true"
      [sortField]="sortField"
      [sortDirection]="sortDirectionEnum"
      [pageSize]="40"
      [pageSizes]="[40, 100, 500]"
      (dataViewLayoutChange)="onLayoutChange($event)"
      (sorted)="onSortChange($event)"
    >
      <!-- GLOBAL FILTER -->
      <ng-template #topCenter>
        <p-inputgroup class="w-auto">
          <p-inputgroup-addon>
            <i class="pi pi-filter" aria-hidden="true"></i>
          </p-inputgroup-addon>
          <p-floatlabel variant="on">
            <input
              #dvFilterInput
              id="iam_user_search_filter"
              type="text"
              pInputText
              [value]="filterText"
              (input)="onGlobalFilter(dvFilterInput.value)"
              [pTooltip]="(filterTooltip$ | async) ?? ''"
              tooltipPosition="top"
              tooltipEvent="hover"
              [attr.aria-label]="'DIALOG.SEARCH.USER.FILTER.PLACEHOLDER' | translate"
            />
            <label for="iam_user_search_filter" aria-hidden="true">
              {{ 'DIALOG.SEARCH.USER.FILTER.PLACEHOLDER' | translate }}
            </label>
          </p-floatlabel>
          <p-button
            icon="pi pi-filter-slash"
            (click)="dvFilterInput.value = ''; onClearGlobalFilter()"
            [attr.aria-label]="'DIALOG.SEARCH.USER.FILTER.CLEAR' | translate"
          />
        </p-inputgroup>
      </ng-template>
      <!-- LIST -->
      <ng-template let-user pTemplate="listItem">
        <article
          [id]="'iam_user_search_data_list_0'"
          class="relative col-12 sm:col-6 h-3rem md:h-3-5rem py-1 md:py-2 pl-6 pr-3 flex flex-column justify-content-between"
          [ngClass]="{ 'hover:bg-gray-200 cursor-pointer': userViewPermission }"
          (click)="onDetail($event, user)"
          (keydown.enter)="onDetail($event, user)"
          [attr.aria-label]="('BREADCRUMBS.USER' | translate) + ': ' + user.username"
          [pTooltip]="user.username.length < 50 ? '' : user.username"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <!-- BADGES -->
          <ng-container *ngIf="isComponentDefined$ | async">
            <a
              *ocxIfPermission="'PERMISSION#VIEW'"
              tabindex="0"
              [id]="'iam_user_search_data_list_0_action_permissions'"
              class="card-badge-left badge-position"
              (click)="onUserPermissions($event, user)"
              [attr.aria-label]="'DIALOG.PERMISSIONS.HEADER' | translate"
              [pTooltip]="'DIALOG.PERMISSIONS.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="link"
            >
              <p-badge severity="secondary" styleClass="pi pi-lock" />
            </a>
          </ng-container>
          <div [id]="'iam_user_search_data_list_0_user_name'" class="font-bold text-responsive" aria-hidden="true">
            {{ user.username }}
          </div>
          <div [id]="'iam_user_search_data_list_0_name'" class="text-xs text-responsive" role="note">
            {{ prepareDisplayName(user, 30, 150) }}
          </div>
        </article>
      </ng-template>

      <!-- GRID -->
      <ng-template let-user pTemplate="gridItem">
        <div [id]="'iam_user_search_data_grid_0'" class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-2">
          <p-card
            [id]="'iam_user_search_data_grid_anchor_0'"
            [ngClass]="{ 'cursor-pointer': userViewPermission }"
            styleClass="w-full h-full relative"
            [attr.tabindex]="0"
            (click)="onDetail($event, user)"
            (keydown.enter)="onDetail($event, user)"
            [attr.aria-label]="('BREADCRUMBS.USER' | translate) + ': ' + user.username"
          >
            <!-- BADGES -->
            <ng-container *ngIf="isComponentDefined$ | async">
              <a
                *ocxIfPermission="'PERMISSION#VIEW'"
                tabindex="0"
                [id]="'iam_user_search_data_grid_0_action_permissions'"
                class="card-badge-right badge-1"
                (click)="onUserPermissions($event, user)"
                [attr.aria-label]="'DIALOG.PERMISSIONS.HEADER' | translate"
                [pTooltip]="'DIALOG.PERMISSIONS.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="link"
              >
                <p-badge severity="secondary" styleClass="pi pi-lock" />
              </a>
            </ng-container>
            <div class="flex flex-column gap-2 text-center justify-content-between h-full">
              <div
                [id]="'iam_user_search_data_grid_0_user_name'"
                class="font-bold text-responsive"
                aria-hidden="true"
                [pTooltip]="user.username.length < 24 ? '' : user.username"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ user.username }}
              </div>
              <div [id]="'iam_user_search_data_grid_0_name'" class="text-xs text-responsive" role="note">
                {{ prepareDisplayName(user, 20, 42) }}
              </div>
            </div>
          </p-card>
        </div>
      </ng-template>
    </ocx-interactive-data-view>
  </ocx-content>
</ocx-portal-page>

<app-user-detail
  [idmUser]="idmUser"
  [provider]="provider"
  [displayDialog]="displayDetailDialog"
  (hideDialog)="onHideDetailDialog()"
>
</app-user-detail>
