<ocx-portal-page permission="USER#SEARCH" helpArticleId="PAGE_IAM_USER_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.USER.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.USER.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div id="iam_user_search_criteria" [formGroup]="formGroup" class="flex flex-wrap gap-3">
      <span class="p-float-label">
        <input
          #userId
          id="iam_user_search_criteria_user_id"
          pInputText
          type="text"
          formControlName="userId"
          class="w-11rem sm:w-21rem text-responsive"
          (change)="searchOnlyById(userId.value)"
          [attr.aria-label]="'USER.ID' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.ID' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_user_id">{{ 'USER.ID' | translate }}</label>
      </span>
      <span class="p-float-label">
        <input
          id="iam_user_search_criteria_user_name"
          pInputText
          type="text"
          formControlName="userName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.USERNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.USERNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_user_name">{{ 'USER.USERNAME' | translate }}</label>
      </span>
      <ng-container *ocxIfPermission="'REALM#SEARCH'">
        <ng-container *ngIf="realms$ | async as realms">
          <span class="p-float-label" *ngIf="realms.length > 0">
            <p-dropdown
              id="iam_user_search_criteria_realm"
              styleClass="w-full input-field-correction"
              formControlName="realm"
              appendTo="body"
              [options]="realms"
              [showClear]="true"
              [attr.aria-label]="'USER.REALM' | translate"
              [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.REALM' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label for="iam_user_search_criteria_realm">{{ 'USER.REALM' | translate }}</label>
          </span>
        </ng-container>
      </ng-container>
      <span *ocxAdvanced class="p-float-label">
        <input
          id="iam_user_search_criteria_first_name"
          pInputText
          type="text"
          formControlName="firstName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.FIRSTNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.FIRSTNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_first_name">{{ 'USER.FIRSTNAME' | translate }}</label>
      </span>
      <span *ocxAdvanced class="p-float-label">
        <input
          id="iam_user_search_criteria_last_name"
          pInputText
          type="text"
          formControlName="lastName"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.LASTNAME' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.LASTNAME' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_last_name">{{ 'USER.LASTNAME' | translate }}</label>
      </span>
      <span *ocxAdvanced class="p-float-label">
        <input
          id="iam_user_search_criteria_email"
          pInputText
          type="text"
          formControlName="email"
          class="w-11rem sm:w-13rem"
          [attr.aria-label]="'USER.EMAIL' | translate"
          [pTooltip]="'DIALOG.SEARCH.USER.CRITERIA.EMAIL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_user_search_criteria_email">{{ 'USER.EMAIL' | translate }}</label>
      </span>
    </div>
  </ocx-search-header>

  <ocx-page-content *ngIf="(users$ | async)?.sort() as users">
    <p-message
      *ngIf="loading"
      id="iam_user_search_loading"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="iam_user_search_error_message"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>
    <p-dataView
      *ngIf="!(exceptionKey || loading)"
      id="iam_user_search_dataview"
      [value]="users"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="[20, 40, 100]"
      [rows]="20"
      filterBy="username,firstName,lastName"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          id="iam_user_search_dataview_controls"
          [enableFiltering]="true"
          [enableSorting]="true"
          [supportedViews]="['grid', 'list']"
          [initialViewMode]="viewMode"
          [sortingOptions]="[
            { label: 'USER.USERNAME' | translate, value: 'username' },
            { label: 'USER.LASTNAME' | translate, value: 'lastName' },
            { label: 'USER.FIRSTNAME' | translate, value: 'firstName' }
          ]"
          [defaultSortOption]="sortField"
          [defaultSortDirection]="sortOrder === 1"
          (dataViewChange)="onLayoutChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['USER.USERNAME' | translate, 'USER.FIRSTNAME' | translate, 'USER.LASTNAME' | translate]"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          [translations]="(dataViewControlsTranslations$ | async) ?? {}"
        >
        </ocx-data-view-controls
      ></ng-template>

      <!-- LIST -->
      <ng-template let-users pTemplate="listItem">
        <div class="p-grid p-nogutter grid grid-nogutter">
          <a
            *ngFor="let iamUser of users; index as i"
            [id]="'iam_user_search_data_list_' + i"
            class="relative col-12 sm:col-6 h-3rem md:h-3-5rem py-1 md:py-2 pl-6 pr-3 flex flex-column justify-content-between"
            [ngClass]="{ 'hover:bg-gray-200 cursor-pointer': userViewDetail }"
            (click)="onDetail($event, iamUser)"
            [pTooltip]="iamUser.username.length < 50 ? '' : iamUser.username"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            <!-- BADGES -->
            <ng-container *ngIf="isComponentDefined$ | async">
              <a
                *ocxIfPermission="'PERMISSION#VIEW'"
                tabindex="0"
                [id]="'iam_user_search_data_grid_' + i + '_action_permissions'"
                class="card-badge-left badge-position pi pi-lock button-icon-only"
                (click)="onUserPermissions(iamUser, $event)"
                [attr.aria-label]="'DIALOG.PERMISSIONS.HEADER' | translate"
                [pTooltip]="'DIALOG.PERMISSIONS.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></a>
            </ng-container>
            <div [id]="'iam_user_search_data_list_' + i + '_user_name'" class="font-bold text-responsive">
              {{ iamUser.username }}
            </div>
            <div [id]="'iam_user_search_data_list_' + i + '_name'" class="text-xs text-responsive">
              {{ prepareDisplayName(iamUser, 30, 150) }}
            </div>
          </a>
        </div>
      </ng-template>

      <!-- GRID -->
      <ng-template let-users pTemplate="gridItem">
        <div class="p-grid p-nogutter grid grid-nogutter">
          <div
            *ngFor="let iamUser of users; index as i"
            [id]="'iam_user_search_data_grid_' + i"
            class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 px-2 sm:px-3 py-1 md:py-2"
          >
            <a
              [tabIndex]="0"
              [id]="'iam_user_search_data_grid_anchor_' + i"
              class="card block relative h-3rem md:h-3-5rem py-1 md:py-2 px-4 text-center flex flex-column justify-content-between"
              [ngClass]="{ 'hover:bg-gray-200 cursor-pointer': userViewDetail }"
              (click)="onDetail($event, iamUser)"
              [attr.aria-label]="iamUser.username"
              [pTooltip]="iamUser.username.length < 24 ? '' : iamUser.username"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <!-- BADGES -->
              <ng-container *ngIf="isComponentDefined$ | async">
                <a
                  *ocxIfPermission="'PERMISSION#VIEW'"
                  tabindex="0"
                  [id]="'iam_user_search_data_grid_' + i + '_action_permissions'"
                  class="card-badge-right badge-1 pi pi-lock button-icon-only"
                  (click)="onUserPermissions(iamUser, $event)"
                  [attr.aria-label]="'DIALOG.PERMISSIONS.HEADER' | translate"
                  [pTooltip]="'DIALOG.PERMISSIONS.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></a>
              </ng-container>
              <div [id]="'iam_user_search_data_grid_' + i + '_user_name'" class="font-bold text-responsive">
                {{ iamUser.username }}
              </div>
              <div [id]="'iam_user_search_data_grid_' + i + '_name'" class="text-xs text-responsive">
                {{ prepareDisplayName(iamUser, 20, 42) }}
              </div>
            </a>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-user-detail [iamUser]="iamUser" [displayDialog]="displayDetailDialog" (hideDialog)="onHideDetailDialog()">
</app-user-detail>
