@import 'src/app/_iam-mixins.scss';

@include card-badges;
@include correct-data-view-control;
@include correct-search-criteria;
@include displaying-text-responsive;
@include media-md-h-3-5;
@include dataview-grid-layout-fix;
@include dataview-card-hover('p-card.cursor-pointer');
@include dataview-list-split-zebra-rows('section');

:host ::ng-deep {
  .card-badge-left.badge-position {
    top: 13px;
    left: 10px;
  }

  .p-badge-dot {
    padding: var(--onecx-iam-onecx-iam-ui-badge-padding);
    border-radius: var(--onecx-iam-onecx-iam-ui-badge-border-radius);
  }
  .p-badge {
    align-items: center;
    background: transparent;
  }
}
