<ocx-portal-page permission="ROLE#SEARCH" helpArticleId="PAGE_IAM_ROLE_SEARCH">
  <ocx-search-header
    [header]="'DIALOG.SEARCH.ROLE.HEADER' | translate"
    [subheader]="'DIALOG.SEARCH.ROLE.SUBHEADER' | translate"
    (searched)="onSearch()"
    (resetted)="onSearchReset()"
    [manualBreadcrumbs]="false"
    [actions]="(actions$ | async) ?? []"
  >
    <div id="iam_role_search_criteria" [formGroup]="searchCriteriaForm" class="flex flex-wrap gap-4 row-gap-3">
      <ng-container *ngIf="provider$ | async as provider">
        <p-floatlabel>
          <p-dropdown
            id="iam_role_search_criteria_provider"
            styleClass="w-full input-field-correction"
            formControlName="provider"
            appendTo="body"
            [options]="provider"
            (onChange)="onChangeProvider($event.value, provider)"
            dataKey="name"
            optionValue="name"
            optionLabel="displayName"
            [autoDisplayFirst]="true"
            [showClear]="true"
            [ariaLabel]="'DIALOG.SEARCH.CRITERIA.PROVIDER' | translate"
            [pTooltip]="'DIALOG.SEARCH.CRITERIA.TOOLTIPS.PROVIDER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label class="ocx-required-label" for="iam_role_search_criteria_provider">
            {{ 'DIALOG.SEARCH.CRITERIA.PROVIDER' | translate }}
          </label>
        </p-floatlabel>
        <p-floatlabel>
          <p-dropdown
            id="iam_role_search_criteria_issuer"
            styleClass="w-full input-field-correction"
            formControlName="issuer"
            appendTo="body"
            [options]="domains"
            (onChange)="onChangeDomain()"
            dataKey="name"
            optionValue="issuer"
            optionLabel="displayName"
            [showClear]="true"
            [emptyMessage]="'DIALOG.SEARCH.CRITERIA.NO_PROVIDER' | translate"
            [ariaLabel]="'DIALOG.SEARCH.CRITERIA.DOMAIN' | translate"
            [pTooltip]="'DIALOG.SEARCH.CRITERIA.TOOLTIPS.DOMAIN' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label class="ocx-required-label" for="iam_role_search_criteria_issuer">
            {{ 'DIALOG.SEARCH.CRITERIA.DOMAIN' | translate }}
          </label>
        </p-floatlabel>
      </ng-container>
      <p-floatlabel>
        <input
          id="iam_role_search_criteria_role_name"
          pInputText
          type="text"
          formControlName="name"
          class="w-18rem"
          [attr.aria-label]="'ROLE.CRITERIA' | translate"
          [pTooltip]="'ROLE.TOOLTIPS.CRITERIA' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="iam_role_search_criteria_role_name">{{ 'ROLE.CRITERIA' | translate }}</label>
      </p-floatlabel>
    </div>
  </ocx-search-header>

  <ocx-content>
    <p-message
      *ngIf="loading && !exceptionKey"
      id="iam_role_search_loading"
      severity="info"
      styleClass="m-3"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="iam_role_search_criteria_error_message"
      severity="error"
      styleClass="m-3"
      [text]="exceptionKey | translate"
    ></p-message>
    <p-message
      *ngIf="!loading && !exceptionKey && searchCriteriaForm.invalid"
      id="iam_role_search_hint_select_provider_first"
      severity="info"
      styleClass="m-3"
      [text]="'DIALOG.SEARCH.CRITERIA.SELECT_ISSUER_FIRST' | translate"
    ></p-message>
    <ocx-interactive-data-view
      *ngIf="roles$ | async as roles"
      id="iam_role_search_dataview"
      [data]="$any(roles)"
      [layout]="viewMode"
      [supportedViewLayouts]="['grid', 'list']"
      [emptyResultsMessage]="'ACTIONS.SEARCH.NOT_FOUND' | translate"
      [clientSideFiltering]="true"
      [clientSideSorting]="true"
      [sortField]="sortField"
      [sortDirection]="sortDirectionEnum"
      [pageSize]="40"
      [pageSizes]="[40, 100, 500]"
      (dataViewLayoutChange)="onLayoutChange($event)"
      (filtered)="onFilterChange($event)"
      (sorted)="onSortChange($event)"
    >
      <!-- LIST -->
      <ng-template let-role pTemplate="listItem">
        <section class="p-grid p-nogutter grid grid-nogutter" [attr.aria-label]="'DIALOG.SEARCH.RESULTS' | translate">
          <article
            [id]="'iam_role_search_data_list_row_0'"
            class="col-12 sm:col-6 h-3rem md:h-3-5rem py-1 md:py-2 px-3 flex flex-column justify-content-between"
            [attr.aria-label]="('BREADCRUMBS.ROLE' | translate) + ': ' + role.name"
            [pTooltip]="role.name?.length < 30 ? '' : role.name"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            <div
              [id]="'iam_role_search_data_list_row_0_roles_display_name'"
              class="font-bold text-responsive"
              aria-hidden="true"
            >
              {{ role.name }}
            </div>
            <div
              [id]="'iam_role_search_data_list_row_0_roles_name'"
              class="text-xs text-responsive"
              [pTooltip]="role.description?.length < 50 ? '' : role.description"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            >
              {{ role.description }}
            </div>
          </article>
        </section>
      </ng-template>

      <!-- GRID -->
      <ng-template let-role pTemplate="gridItem">
        <section class="p-grid p-nogutter grid grid-nogutter" [attr.aria-label]="'DIALOG.SEARCH.RESULTS' | translate">
          <article
            [id]="'iam_role_search_data_grid_row_0'"
            class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 py-1 md:py-2 px-3"
            [attr.aria-label]="('BREADCRUMBS.ROLE' | translate) + ': ' + role.name"
          >
            <div
              class="card h-3rem md:h-3-5rem p-1 md:p-2 flex flex-column justify-content-between text-center row-gap-1 md:row-gap-2"
            >
              <div
                [id]="'iam_role_search_data_grid_row_0_role_name'"
                class="font-bold text-responsive"
                [pTooltip]="role.name.length < 22 ? '' : role.name"
                tooltipPosition="top"
                tooltipEvent="hover"
                aria-hidden="true"
              >
                {{ role.name }}
              </div>
              <div
                [id]="'iam_role_search_data_grid_row_0_role_description'"
                class="text-xs text-responsive"
                [pTooltip]="role.description?.length < 25 ? '' : role.description"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              >
                {{ role.description }}
              </div>
            </div>
          </article>
        </section>
      </ng-template>
    </ocx-interactive-data-view>
  </ocx-content>
</ocx-portal-page>
