<p-dialog
  [header]="'DIALOG.DETAIL.HEADER' | translate"
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '400px' }"
>
  <p-message
    *ngIf="exceptionKey"
    id="iam_user_roles_message_error"
    severity="error"
    [text]="exceptionKey | translate"
  ></p-message>

  <p-tabView *ngIf="!exceptionKey">
    <p-tabPanel
      id="iam_detail_props"
      [header]="'DIALOG.DETAIL.TABS.PROPS' | translate"
      [attr.aria-label]="'DIALOG.DETAIL.TABS.PROPS' | translate"
      [tooltip]="'DIALOG.DETAIL.TABS.PROPS.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 mb-2 flex flex-column row-gap-4">
        <div class="p-inputgroup" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #iamUserId
              pInputText
              type="text"
              id="iam_detail_field_id"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="idmUser?.id"
              [attr.aria-label]="'USER.ID' | translate"
              [pTooltip]="'USER.TOOLTIPS.ID' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="iam_detail_field_id">{{ 'USER.ID' | translate }}</label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="iamUserId.value ? 'cursor-pointer' : 'p-disabled'"
            (click)="copyToClipboard(iamUserId.value)"
            [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
            [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          >
            <span class="pi pi-copy"></span>
          </a>
        </div>

        <div class="p-inputgroup" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #iamUserName
              pInputText
              type="text"
              id="iam_detail_field_user_name"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="idmUser?.username"
              [attr.aria-label]="'USER.USERNAME' | translate"
              [pTooltip]="'USER.TOOLTIPS.USERNAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="iam_detail_field_user_name"> {{ 'USER.USERNAME' | translate }} </label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="iamUserName.value ? 'cursor-pointer' : 'p-disabled'"
            (click)="copyToClipboard(iamUserName.value)"
            [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
            [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          >
            <span class="pi pi-copy"></span>
          </a>
        </div>

        <div class="p-inputgroup" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #iamUserEmail
              pInputText
              type="text"
              id="iam_detail_field_user_email"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="idmUser?.email"
              [attr.aria-label]="'USER.EMAIL' | translate"
              [pTooltip]="'USER.TOOLTIPS.EMAIL' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="iam_detail_field_user_email"> {{ 'USER.EMAIL' | translate }} </label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="iamUserEmail.value ? 'cursor-pointer' : 'p-disabled'"
            (click)="copyToClipboard(iamUserEmail.value)"
            [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
            [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          >
            <span class="pi pi-copy"></span>
          </a>
        </div>

        <div class="p-inputgroup" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #iamUserFirstName
              pInputText
              type="text"
              id="iam_detail_field_first_name"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="idmUser?.firstName"
              [attr.aria-label]="'USER.FIRSTNAME' | translate"
              [pTooltip]="'USER.TOOLTIPS.FIRSTNAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="iam_detail_field_first_name"> {{ 'USER.FIRSTNAME' | translate }} </label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="iamUserFirstName.value ? 'cursor-pointer' : 'p-disabled'"
            (click)="copyToClipboard(iamUserFirstName.value)"
            [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
            [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          >
            <span class="pi pi-copy"></span>
          </a>
        </div>

        <div class="p-inputgroup" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #iamUserLastName
              pInputText
              type="text"
              id="iam_detail_field_last_name"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="idmUser?.lastName"
              [attr.aria-label]="'USER.LASTNAME' | translate"
              [pTooltip]="'USER.TOOLTIPS.LASTNAME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="iam_detail_field_last_name"> {{ 'USER.LASTNAME' | translate }} </label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="iamUserLastName.value ? 'cursor-pointer' : 'p-disabled'"
            (click)="copyToClipboard(iamUserLastName.value)"
            [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
            [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
          >
            <span class="pi pi-copy"></span>
          </a>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      id="iam_detail_attributes"
      [header]="'DIALOG.DETAIL.TABS.ATTRIBUTES' | translate"
      [attr.aria-label]="'DIALOG.DETAIL.TABS.ATTRIBUTES' | translate"
      [tooltip]="'DIALOG.DETAIL.TABS.ATTRIBUTES.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="flex flex-column row-gap-1">
        <span class="p-float-label">
          <textarea
            class="w-full"
            pInputTextarea
            rows="15"
            id="iam_detail_attributes_content"
            [(ngModel)]="userAttributes"
            [attr.aria-label]="'USER.ATTRIBUTES' | translate"
            [pTooltip]="'USER.TOOLTIPS.ATTRIBUTES' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="iam_detail_attributes_content">{{ 'USER.ATTRIBUTES' | translate }}</label>
        </span>
      </div>
    </p-tabPanel>

    <p-tabPanel
      id="iam_detail_roles"
      [header]="'DIALOG.DETAIL.TABS.ROLES' | translate"
      [attr.aria-label]="'DIALOG.DETAIL.TABS.ROLES' | translate"
      [tooltip]="'DIALOG.DETAIL.TABS.ROLES.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div *ngIf="userRoles$ | async as roles" class="flex flex-column row-gap-1">
        <p-listbox
          id="apm_detail_roles_list"
          [options]="roles"
          [filter]="true"
          [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
          [listStyle]="{ 'max-height': '250px' }"
        >
          <ng-template let-role pTemplate="item">
            <div class="cursor-auto">{{ role }}</div>
          </ng-template>
        </p-listbox>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [header]="'INTERNAL.HEADER' | translate"
      [attr.aria-label]="'INTERNAL.HEADER' | translate"
      [tooltip]="'INTERNAL.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="mt-1 mb-2 flex flex-column row-gap-4">
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="iam_detail_field_creation_date"
            class="w-full pt-3 pb-2 text-responsive"
            [disabled]="true"
            [value]="idmUser?.createdTimestamp | date: datetimeFormat : ''"
            [attr.aria-label]="'INTERNAL.CREATION_DATE' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="iam_detail_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
        </span>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="iam_detail_field_domain"
            class="w-full pt-3 pb-2 text-responsive"
            [disabled]="true"
            [value]="idmUser?.domain"
            [attr.aria-label]="'USER.DOMAIN' | translate"
            [pTooltip]="'USER.TOOLTIPS.DOMAIN' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="iam_detail_field_domain">{{ 'USER.DOMAIN' | translate }}</label>
        </span>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            id="iam_detail_field_origin"
            class="w-full pt-3 pb-2 text-responsive"
            [disabled]="true"
            [value]="idmUser?.origin"
            [attr.aria-label]="'USER.ORIGIN' | translate"
            [pTooltip]="'USER.TOOLTIPS.ORIGIN' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="iam_detail_field_origin">{{ 'USER.ORIGIN' | translate }}</label>
        </span>
      </div>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="iam_user_roles_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
