<form [formGroup]="formGroup" class="p-grid p-fluid change-password-form">
  <div class="p-col-12">
    <span class="p-float-label">
      <p-password
        id="password"
        type="password"
        formControlName="password"
        [promptLabel]="'CHANGE_PASSWORD.DIALOG.PROMPT' | translate"
        [weakLabel]="'CHANGE_PASSWORD.DIALOG.WEAK' | translate"
        [mediumLabel]="'CHANGE_PASSWORD.DIALOG.MEDIUM' | translate"
        [strongLabel]="'CHANGE_PASSWORD.DIALOG.STRONG' | translate"
        [toggleMask]="true"
      />
      <label for="password">{{ 'CHANGE_PASSWORD.DIALOG.NEW_PASSWORD' | translate }}</label>
    </span>
  </div>
  <div class="p-col-12">
    <span class="p-float-label">
      <p-password
        id="repeat-password"
        type="password"
        formControlName="repeatPassword"
        [feedback]="false"
        [toggleMask]="true"
      />
      <label for="repeat-password">{{ 'CHANGE_PASSWORD.DIALOG.CONFIRM_NEW_PASSWORD' | translate }}</label>
    </span>
  </div>
</form>
