<div class="m-2">
  <p-button
    *ocxIfPermission="'USER#EDIT'; permissions: permissions"
    pRipple
    id="iam_change_password_confirm"
    (onClick)="editPassword($event)"
    (onKeydown)="onEnterClick()"
    [pTooltip]="'CHANGE_PASSWORD.BUTTON_TOOLTIP' | translate"
    tooltipPosition="top"
    tooltipEvent="hover"
  >
    {{ 'CHANGE_PASSWORD.BUTTON_LABEL' | translate }}
  </p-button>

  <p-message
    *ocxIfNotPermission="'USER#EDIT'; permissions: permissions"
    id="iam_change_password_no_permission"
    severity="info"
    [text]="'CHANGE_PASSWORD.NO_PERMISSION' | translate"
  ></p-message>
</div>
