<!-- <ocx-portal-page [permission]="'PROFILE_PASSWORD#VIEW'" helpArticleId="PAGE_USER_PASSWORD">
  <p-card class="p-card-container" header="{{ 'CHANGE_PASSWORD.CHANGE_YOUR_PASSWORD' | translate }}">
    <form class="m-3" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
      <div class="mb-1 font-bold required white-space-nowrap">{{ 'CHANGE_PASSWORD.NEW_PASSWORD' | translate }}</div>
      <div class="field">
        <input
          id="password"
          type="password"
          pPassword
          class="w-full"
          formControlName="password"
          [promptLabel]="'CHANGE_PASSWORD.PROMPT' | translate"
          [weakLabel]="'CHANGE_PASSWORD.WEAK' | translate"
          [mediumLabel]="'CHANGE_PASSWORD.MEDIUM' | translate"
          [strongLabel]="'CHANGE_PASSWORD.STRONG' | translate"
        />
      </div>
      <div class="mb-1 font-bold required white-space-nowrap">
        {{ 'CHANGE_PASSWORD.CONFIRM_NEW_PASSWORD' | translate }}
      </div>
      <div class="field">
        <input id="repeat-password" type="password" pInputText class="w-full" formControlName="repeatPassword" />
      </div>
    </form>
    <p-footer *ocxIfPermission="'PROFILE_PASSWORD#EDIT'">
      <div class="mb-1 mx-2 flex justify-content-end">
        <button
          pButton
          type="submit"
          [label]="'CHANGE_PASSWORD.CHANGE' | translate"
          [disabled]="!passwordChangeForm.valid"
          (click)="onSubmit()"
        ></button>
      </div>
    </p-footer>
  </p-card>
</ocx-portal-page> -->
<div>change password component</div>
