:host ::ng-deep {
  .p-card-container {
    display: block;
    justify-self: center;
    width: 400px;
    margin: 5% auto;
  }
  .required::after {
    font-weight: bold;
    content: ' *';
    color: #e62a10;
  }
}
