<button
  *ocxIfPermission="'USER#EDIT'; permissions: permissions"
  pRipple
  pButton
  id="change_password_confirm"
  (click)="editPassword($event)"
  [pTooltip]="'CHANGE_PASSWORD.BUTTON_TOOLTIP' | translate"
  tooltipPosition="top"
  tooltipEvent="hover"
  (keydown.enter.t)="onEnterClick()"
>
  {{ 'CHANGE_PASSWORD.BUTTON_LABEL' | translate }}
</button>
<div *ocxIfNotPermission="'USER#EDIT'; permissions: permissions" class="font-bold mt-2 mb-3">
  {{ 'CHANGE_PASSWORD.NO_PERMISSION' | translate }}
</div>
