app:
  name: ui
  image:
    repository: 'onecx/onecx-iam-ui'
  routing:
    enabled: true
    path: /mfe/iam/
    
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXIamModule"
          description: "OneCX IAM UI"
          note: "OneCX IAM UI module auto import via MF operator"
          type: MODULE
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-iam
          tagName: ocx-iam-component
        change-password:
          exposedModule: "./OneCXChangePasswordComponent"
          description: "Change password"
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-iam
          tagName: ocx-change-password-component
        iam-user-roles:
          exposedModule: "./OneCXIamUserRolesComponent"
          description: "Provide IAM user roles"
          type: COMPONENT
          technology: WEBCOMPONENTMODULE
          remoteName: onecx-iam
          tagName: ocx-iam-user-roles-component
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          USER:
            SEARCH: Search users
            VIEW: View user details
          PERMISSION:
            VIEW: View user permissions
          ROLE:
            SEARCH: Search roles
    # Slot
    slot:
      enabled: true
      specs:
        onecx-iam-user-permissions:
          name: 'onecx-iam-user-permissions'
          description: 'Display user permissions'

# PIPE Config
